<div class="wrapper">
  <sidecard>
    <header>
      <h3>Log in to <span class="color-primary">Borker</span></h3>
    </header>
    <section>
      <form>
        <label>
          Username
          <input type="text" />
        </label>

        <label>
          Password
          <input type="password" />
        </label>
        <div class="text-center">
          <button class="button" type="submit">
            Log in
          </button>
        </div>
      </form>
    </section>
    <footer class="text-center">
      Need an account? <a href="#">Sign up.</a>
    </footer>
  </sidecard>
</div>
